/* header-style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 64px;
  z-index: 100;
  background-color: var(--champagne);
}

.header .header-left {
  display: flex;
}

.header .header-left .nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header .header-left .nav-links li {
  list-style-type: none;
}

.header .header-left .nav-links a {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  color: var(--black);
  text-decoration: none;
}

.header .logo img {
  height: 74px;
  width: 74px;
  margin-right: 120px;
}

.header .cta {
  display: flex;
  align-items: center;
  gap: 20px;
}


/* hero-section-style */
.hero-section {
  position: relative;
  min-height: 100vh;
  background-color: var(--champagne);
  padding-bottom: 140px;
}

.hero-section .hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.hero-section .hero-wrapper .hero-title {
  max-width: 535px;
  padding-top: 160px;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero-section .hero-wrapper .cta-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-section .hero-wrapper .hero-title span {
  color: var(--vermillion);
}

.hero-section .hero-wrapper .hero-desc {
  max-width: 300px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hero-section::before {
  content: "";
  background: url("/Assets/Svgs/HeroShapeSwirl.svg");
  position: absolute;
  top: 10%;
  left: 0;
  width: 600px;
  height: 500px;
  background-repeat: no-repeat;
}

.hero-section::after {
  content: "";
  background: url("/Assets/Svgs/Star3.svg");
  position: absolute;
  top: 20%;
  right: 5%;
  width: 155px;
  height: 216px;
  background-repeat: no-repeat;
}

.hero-section .hero-slider {
  margin-bottom: 120px;
}

.hero-section .platform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22.65px;
  font-weight: 700;
  line-height: 31.71px;
  letter-spacing: -0.02em;
  color: var(--black);
  padding-block: 20px;
  border-top: 1px solid var(--davys-grey);
  border-bottom: 1px solid var(--davys-grey);
}

.hero-section .numbers-wrapper {
  position: absolute;
  display: flex;
  gap: 20px;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero-section .numbers-wrapper .number-card {
  padding: 60px 95px;
  border: 1.5px solid var(--black);
  box-shadow: 6px 6px 0px 0px var(--vermillion);
  border-radius: 8px;
  background-color: var(--white);
}


.hero-section .numbers-wrapper .number-card .count {
  font-size: 59.3px;
  font-weight: 700;
  line-height: 71.16px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--vermillion);
}

.hero-section .numbers-wrapper .number-card .count span {
  color: var(--black);
}


/* about-section-style */
.about-section {
  position: relative;
  padding-block: 140px;
}

.about-section .box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .about-section .box-wrapper {
    justify-content: space-around;
  }
}

.about-section .box-wrapper .about-boxa-desc {
  max-width: 472px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  color: var(--black);
}

.about-section .box-wrapper .about-box img {
  height: 275px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about-section .about-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 40px;
  background-color: var(--champagne);
}

.about-section .about-quote img {
  height: 50px;
  margin-bottom: 40px;
}

.about-section .about-quote .quote {
  max-width: 600px;
  font-size: 36.65px;
  font-weight: 700;
  line-height: 51.31px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 40px;
}

.writer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.writer .avtar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.writer .witer-name {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--black);
}

.writer .platform {
  display: flex;
  align-items: center;
  gap: 8px;
}

.writer .platform .platform-logo {
  height: 16px;
  margin-bottom: 0;
}

.writer .platform .post {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
}

.about-section .about-quote::before {
  content: "";
  position: absolute;
  left: -55px;
  bottom: 49px;
  background: url("../Assets/Svgs/Vector4.svg");
  background-repeat: no-repeat;
  height: 120px;
  width: 130px;
}

.about-section .about-quote::after {
  content: "";
  position: absolute;
  right: -53px;
  top: -12px;
  background: url("../Assets/Svgs/Star2.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  transform: scale(2);
}

.about-section .about-wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 80px;
  border-bottom: 0.5px solid var(--davys-grey);
}

.about-section .about-wrapper .content {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: var(--davys-grey);
}

/* testimonials-section-style */
.testimonials-section {
  position: relative;
  background-color: var(--alice-blue);
  padding: 140px;
}

.testimonials-section .slide {
  padding: 40px;
  border-radius: 8px;
  background: var(--white);
}

.testimonials-section .slide .quote {
  margin-bottom: 30px;
}

.testimonials-section .slide .slide-text {
  max-width: 490px;
  font-size: 22.65px;
  font-weight: 500;
  line-height: 36.24px;
  margin-bottom: 32px;
}

/* features-section */
.features-section {
  position: relative;
  padding-block: 140px;
}

.features-section .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 80px;
  margin-bottom: 100px;
}

.features-section .feature-wrapper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 355px;
}

.features-section .feature-wrapper .feature img {
  height: 78px;
  width: 78px;
  margin-bottom: 30px;
}

.features-section .feature-wrapper .feature .feature-title {
  font-size: 22.65px;
  font-weight: 700;
  line-height: 31.71px;
  letter-spacing: -0.02em;
  color: var(--black);
  text-align: center;
  margin-bottom: 10px;
}

.features-section .feature-wrapper .feature .feature-desc {
  max-width: 338px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  color: var(--black);
  text-align: center;
}

/* content-section */

.content-section {
  position: relative;
  background-color: var(--champagne);
  padding-block: 140px;
}

.content-section .content-card-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
}

.content-section .content-card-wrapper::after {
  content: url("../assets/svgs/Sparkle.svg");
  position: absolute;
  right: -46px;
  top: -50px;
  transform: scale(2);
}

.content-section .content-card-wrapper .content-card {
  border: 2px solid var(--black);
  border-radius: 12px;
  background-color: var(--white);
  padding: 16px;
  flex: 1 1 400px;
}

.content-section .content-card-wrapper .content-card.with-shadow {
  box-shadow: 10px 10px 0px 0px #81ADC8;
}

.content-section .content-card-wrapper .content-card .episode-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.content-section .content-card-wrapper .content-card .episode-info .episode-no {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  color: var(--vermillion);
  margin-bottom: 4px;
}

.content-section .content-card-wrapper .content-card .episode-info .episode-title {
  font-size: 22.65px;
  font-weight: 700;
  line-height: 31.71px;
  letter-spacing: -0.02em;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--davys-grey);
  color: var(--black);
}

.content-section .content-card-wrapper .content-card .episode-info .episode-title.red {
  color: var(--vermillion);
}

.content-section .content-card-wrapper .content-card .episode-info .episode-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--davys-grey);
}

.content-section .content-card-wrapper .content-card .episode-info img {
  height: 166px;
  border-radius: 16px;
}

.content-section .content-card-wrapper .other-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-section .content-card-wrapper .other-details .host {
  display: flex;
  gap: 10px;
  align-items: center;
}

.content-section .content-card-wrapper .other-details .title {
  font-size: 12px;
  font-weight: 700;
  line-height: 19.2px;
  color: var(--davys-grey);
}

.content-section .content-card-wrapper .other-details .host-wrapper {
  display: flex;
}

.content-section .content-card-wrapper .other-details .host-wrapper img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.content-section .content-card-wrapper .other-details .host-wrapper img:last-child {
  position: relative;
  left: -10px;
}

/* pricing-section */
.pricing-section {
  position: relative;
  padding-block: 140px;
}

.pricing-section .pricing-card-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}

.pricing-section .pricing-card-wrapper::before {
  content: url("../assets/svgs/Vector1.svg");
  position: absolute;
  left: -70px;
  bottom: -50px;
  stroke: var(--pewter-blue);
  z-index: -1;
}

.pricing-section .pricing-card-wrapper::after {
  content: url("../assets/svgs/Star2.svg");
  position: absolute;
  right: -25px;
  top: -25px;
  transform: scale(1.5);
  stroke: var(--pewter-blue);
  z-index: -1;
}

.pricing-section .pricing-card-wrapper .pricing-card {
  padding: 40px;
  border: 1.5px solid var(--black);
  border-radius: 8px;
  background-color: var(--white);
  flex: 1 1 320px
}

.pricing-section .pricing-card-wrapper .primary-card.primary-card {
  border: 1.5px solid var(--vermillion);
  background-color: var(--champagne);
}

.pricing-section .pricing-card-wrapper .pricing-card .card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 36.65px;
  font-weight: 700;
  line-height: 51.31px;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 20px;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-title .tag {
  font-size: 12px;
  font-weight: 700;
  line-height: 19.2px;
  color: var(--white);
  padding: 3px 6px;
  background-color: var(--vermillion);
  border-radius: 4px;
  margin-left: 40px;
  flex-shrink: 0;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-title-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--davys-grey);
  margin-bottom: 20px;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: var(--black);
  margin-bottom: 90px;
}

.pricing-section .pricing-card-wrapper .pricing-card .list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: var(--black);
  margin-bottom: 10px;
}

.pricing-section .pricing-card-wrapper .pricing-card .list-item.bold {
  font-weight: 700;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-cta .price {
  font-size: 22.65px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--vermillion);
  max-width: 62px;
}

.pricing-section .pricing-card-wrapper .pricing-card .card-cta .price span {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  color: var(--davys-grey);
}

/* blog-section */
.blog-section {
  position: relative;
  padding-block: 140px;
}

.blog-section .blog-wrapper {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.blog-section .blog-wrapper::before {
  content: url("../assets/svgs/Star.svg");
  position: absolute;
  left: -25px;
  top: -15px;
  transform: scale(2);
  z-index: -1;
}

.blog-section .blog-wrapper::after {
  content: url("../assets/svgs/Scribble3.svg");
  position: absolute;
  right: -40px;
  bottom: -50px;
  transform: scale(3) rotate(135deg);
  z-index: -1;
}

.blog-section .blog-wrapper .blog {
  padding: 16px;
  border: 2px solid var(--black);
  flex: 1 1 550px;
  border-radius: 8px;
  background-color: var(--white);
}

.blog-section .blog-wrapper .blog.with-shadow {
  box-shadow: 10px 10px 0px 0px var(--black);
}

.blog-section .blog-wrapper .blog img {
  height: 320px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
  object-fit: cover;
}

.blog-section .blog-wrapper .blog .blog-title-wrapper {
  margin-bottom: 20px;
}

.blog-section .blog-wrapper .blog .title-sm {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  color: var(--davys-grey);
  margin-bottom: 6px;
}

.blog-section .blog-wrapper .blog .title {
  font-size: 36.65px;
  font-weight: 700;
  line-height: 51.31px;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 20px;
}

.blog-section .blog-wrapper .blog .title.red {
  color: var(--vermillion);
}

.blog-section .blog-wrapper .blog .desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--davys-grey);
  padding-bottom: 26px;
  border-bottom: 0.5px solid var(--davys-grey);
}

.blog-section .blog-wrapper .blog .blog-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* cta-section */
.cta-section {
  position: relative;
  padding-block: 140px;
  background-color: var(--alice-blue);
}

.cta-section .cta-vector-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 373px;
}

.cta-section .cta-vector-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 373px;
}

.cta-section .extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.cta-section .extra .desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--davys-grey);
  margin-bottom: 10px;
}

.cta-section .extra .socials {
  display: flex;
  gap: 20px;
}

/* footer-section */
.footer-section {
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;
}

.footer-section .footer-content {
  display: flex;
  gap: 20px;
}

.footer-section .footer-content .logo {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.footer-section .footer-content .logo img {
  height: 74px;
}

.footer-section .footer-content .logo .year {
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
  color: var(--davys-grey);
}

.footer-section .footer-content .desc {
  max-width: 275px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--davys-grey);
  margin-bottom: 40px;
}

.footer-section .footer-content .socials {
  display: flex;
  gap: 27px;
  align-items: center;
  margin-bottom: 10px;
}

.footer-section .footer-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-section .footer-content .footer-column {
  flex: 1 1 100px;
}

.footer-section .footer-content .socials img {
  height: 17px;
}

.footer-section .footer-content .footer-links {
  list-style-type: none;
}

.footer-section .footer-content .footer-links .footer-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: var(--black);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.footer-section .footer-column-platform {
  flex: 1 1 300px;
}

.footer-section .footer-column-platform .platform-wrapper .footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: var(--davys-grey);
  margin-bottom: 30px;
}

.footer-section .footer-column-platform .platform-wrapper .socials {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.footer-section .footer-column-platform .platform-wrapper .socials img {
  height: 25px;
}

.footer-section .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid var(--davys-grey);
}

.footer-section .footer-bottom .copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
}

.footer-section .footer-bottom .copyright .red {
  color: var(--vermillion);
}

.footer-section .footer-bottom .right {
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
  display: flex;
  gap: 10px;
}